@tailwind base;
@tailwind components;
@tailwind utilities;

:root  {
  --background: 257 12% 95%;
  --foreground: 257 5% 4%;
  --card: 257 12% 90%;
  --card-foreground: 257 5% 10%;
  --popover: 257 12% 95%;
  --popover-foreground: 257 95% 4%;
  --primary: 257 54% 42%;
  --primary-foreground: 0 0% 100%;
  --secondary: 257 12% 70%;
  --secondary-foreground: 0 0% 0%;
  --muted: 219 12% 85%;
  --muted-foreground: 257 5% 35%;
  --accent: 219 12% 80%;
  --accent-foreground: 257 5% 10%;
  --destructive: 0 50% 30%;
  --destructive-foreground: 257 5% 90%;
  --border: 257 20% 50%;
  --input: 257 20% 18%;
  --ring: 257 54% 42%;
  --radius: 1rem;
}
.dark  {
  --background: 257 12% 5%;
  --foreground: 257 5% 90%;
  --card: 257 12% 4%;
  --card-foreground: 257 5% 90%;
  --popover: 257 12% 5%;
  --popover-foreground: 257 5% 90%;
  --primary: 257 54% 42%;
  --primary-foreground: 0 0% 100%;
  --secondary: 257 12% 10%;
  --secondary-foreground: 0 0% 100%;
  --muted: 219 12% 15%;
  --muted-foreground: 257 5% 60%;
  --accent: 219 12% 15%;
  --accent-foreground: 257 5% 90%;
  --destructive: 0 50% 30%;
  --destructive-foreground: 257 5% 90%;
  --border: 257 20% 18%;
  --input: 257 20% 18%;
  --ring: 257 54% 42%;
  --radius: 1rem;
}

